{% extends '::layout.html.twig' %}

{% block title_content %}Accès non autorisé{% endblock %}

{% block content %}

    <p>
        L'administrateur ne vous à pas encore authoriser à acceder à ce contenu.
        Vous pouvez le contactez par mail.
    </p>

  
<br style="clear:both;"/>
{% endblock %}
