{% extends '::layout.html.twig' %}

{% block content %}

    <h1>Bonjour</h1>
    <p>
        ceci est un espace protégé vous devez etre authentifié pour utiliser ce site.
    </p>

  <a href="{{ path('fos_user_registration_register') }}">s'enregister</a>
  
<br style="clear:both;"/>
{% endblock %}
