{% extends "::layout.html.twig" %}

{% block title_content %}Editer mon profile{% endblock %}

{% block content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
<a class="btn btn-small btn-danger" href="{{ path('fos_user_change_password') }}">Changer mon mot de Passe</a>
{% endblock content %}
