
{% block toto %}
    <h3>Nouvelle article à acheter</h3>

    <form action="{{ path('shoplist_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <span>
            <button type="submit">Ajouter a la liste des courses</button>
        </span>
    </form>

        
{% endblock %}
