
{% block toto %}
    <h3>Modifiaction de la réservation</h3>

    <form action="{{ path('datereg_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn btn-info ">Valider</button>
        </p>
    </form>
{% endblock %}
